<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Person gclass</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div class="dados">
            <img src="{{ url_for('static', filename='images/Person.jpg')}}" alt="persons" width="200" height="200">
            <h1>Person</h1>
            <br>
            <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/?option=edit'" class="button1">Edit</button>
            <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/?option=delete'" class="button1">Delete</button>
            <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/?option=insert'" class="button1">Insert</button>
            <button id="save" type="submit" form="form" {{butedit}} class="button1">Save</button>
            <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/?option=cancel'" class="button1">Cancel</button>
            <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/?option=exit'" class="button1">Exit</button>
            <br><br>
            <form id="form" action="/?option=save" method="post">
                <label for="id">Id:</label>
                {% if butedit == 'enabled' %}
                    <input type="text" disabled id="id" name="id" value="{{id}}" size="5"/>
                {%else%}
                    <input type="text" {{butedit}} id="id" name="id" value="{{id}}" size="10"/>
                {%endif%}
                <br><br>
                <label for="name">Name:</label>
                <input type="text" {{butedit}} id="name" name="name" value="{{name}}" size="30"/>
                <br><br>
                <label for="dob">DoB:</label>
                <input type="text" {{butedit}} id="dob" name="dob" value="{{dob}}" size="10"/>
                <br><br>
                <label for="salary">Salary:</label>
                <input type="text" {{butedit}} id="salary" name="salary" value="{{salary}}" size="10"/>
            </form>
            <br>
            <button id="first" type="button" {{butshow}} onclick="window.location.href = '/?option=first'" class="button1">First</button>
            <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/?option=previous'" class="button1">Previous</button>
            <button id="next" type="button" {{butshow}} onclick="window.location.href = '/?option=next'" class="button1">Next</button>
            <button id="last" type="button" {{butshow}} onclick="window.location.href = '/?option=last'" class="button1">Last</button>
        </div>
    </body>
</html>
